# Настройки редакторов
.idea/
.vscode/
*.swp
*.sublime-project

# Python (служебные файлы)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Переменные окружения
.env
.flaskenv

# Данные и загрузки
static/uploads/*
!static/uploads/.gitkeep
*.db
*.sqlite

# Логи
*.log